*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}
body{
    background-image: url(imagenes/imagencrot2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed; 
}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.contenedor-todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja-trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: #ff007f;

}

.caja-trasera div{
    margin: 100px 40px;
    color: rgb(255, 255, 255);
    transition: all 500ms;

}
.caja-trasera div p, 
.caja-trasera div button{
    margin-top: 30px;
}
.caja-tracera div h3{
    font-weight: 400;
    font-size: 26px;

}
.caja-trasera button{
    padding: 10px 46px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 300ms;
}
.caja-trasera button:hover{
    background: #fff;
    color: #ff007f;
}
/*formularios*/

.contenedor-login-registro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175,0.885,0.320, 1.275);
}
.contenedor-login-registro form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;

}

.contenedor-login-registro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:#ff007f;
}

.contenedor-login-registro form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #e0e0e0;
    font-size: 16px;

}
.contenedor-login-registro form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: nane;
    font-size: 14px;
    background:#ff007f;
    color: #070104;
    outline: none;
}
.contenedor-login-registro form button:hover{
    background-color: aliceblue;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.formulario-login{
    opacity: 1;
    display: block ;

}
.formulario-registro{
    display:none ;
}
@media screen and (max-whidth: 850px) {

     main{
        margin-top: 50px;

     }
     .caja-trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
        
     }
     .caja-trasera div{
        margin: 0px;
        position: absolute;

     }
     /*formularios*/
     .contenedor-login-registro{
        top: -10px;
        left: -5px;
        margin: auto;

     }
     .contenedor-login-registro form{
        position: relative;
        
     }

}

footer {
    
    margin-top: 20px;
    text-align: center; 
    background-color: #11070709;
    padding: 20px;
}

.footer-container {

    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn-volver-inicio {
    padding: 10px 20px;
    background-color:#ff007f; 
    color: #e0e0e0;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.btn-volver-inicio:hover {
    background-color: #ff007f; 
    transform: scale(1.05); 
}
